{% extends 'core/base.html' %} {% load static %}

<!-- Bloque extra css -->
{% block extra_css %}
<link href="{% static 'sbadmin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet"> {% endblock extra_css %}


<!-- Contenido -->
{% block content %}
<div class="card shadow mb-4 border-left-info">
    <div class="card-header d-flex py-3">
        <h3 class="m-0 font-weight-bold text-info">
            {% block title_list %} {% endblock title_list %}
        </h3>
        {% block add_page %} {% endblock add_page %}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="col-sm-12">

                <!-- Inicio de la Tabla -->
                <table class="data-Table table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead>
                        {% block thead %} {% endblock thead %}
                    </thead>
                    <tbody>
                        {% block tbody %} {% endblock tbody %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
</div>
</div>
{% block list_title %} {% endblock list_title %} {% endblock content %}

<!-- Bloque extra js -->
{% block extra_js %}
<script src="{% static 'sbadmin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'sbadmin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $('.data-Table').DataTable({
        responsive: true
    });
</script>
{% endblock extra_js %}