    .my_input {
        border: 1px solid gainsboro;
        outline: none;
        border-radius: 5px;
        padding: 3px;
        width: 95%;
    }
    
    .my_input:focus {
        box-shadow: .5px .5px 5px .5px rgb(125, 216, 216);
    }